h1 {
  color: blue;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: teal;
}

p {
  font-style: italic;
  text-align: center;
  color: gray;
}

body {
  font-style: italic;
  text-align: left;
  font-size: x-large;
  background-color: skyblue;
}
